[submodule "bundle/detectindent"]
	path = bundle/detectindent
	url = git@github.com:ciaranm/detectindent.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
